body {
	background-color: #000000;
	color: #FF0000;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 20px;
}

a, a:hover {
color:#CCCCCC;
}

H1{
	font-size: 3em;
}

#video{
	width: 972px;
}
